
.navbar {
    background-color: #007bff; 
}


.navbar-light .navbar-nav .nav-link {
    color: #ffffff; /
}


.btn-primary {
    background-color: #343a40; 
    border-color: #343a40;
    color: #ffffff; 
}


.btn-primary:hover {
    background-color: #1d2124; 
    border-color: #1d2124;
}


footer {
    background-color: #1d2124; 
    color: #343a40; 
}
